<details>
  <summary>
    Show Product Identififers
  </summary>
<ul>
{% for id_hash in page.identifiers %}

{% assign I = id_hash|first %}
{% assign type = I[0] %}
{% assign v = I[1] %}

<li>
  {% if type == 'repology' %}
  <a href="https://repology.org/project/{{v}}">
    Repology: <tt>{{v}}</tt>
  </a>
  <img alt="Repology - Repositories count for {{v}}" src="https://img.shields.io/repology/repositories/{{v}}">

  {% else %}
  {{type|upcase}}: <tt>{{v}}</tt>
  {% endif %}
</li>
{% endfor %}
</ul>
</details>